<ion-view class="welcome-view" cache-view="false" hide-nav-bar="true">
  <ion-content scroll="false">
    <div class="top-content row">
      <div class="app-copy col col-top">
        <h1 style="color:#fff;">Scavenger Hunt</h1>
        <p class="app-tagline">
            Decipher clues and find the scavenger's items with your friends
          </p>
      </div>
    </div>
    <div class="bottom-content row">
      <div class="col col-bottom">
        <a class="facebook-sign-in button button-block" ng-click="facebookLogin()">
          Log in with Facebook
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
