<ion-view view-title="Account">
  <ion-content class="padding">

      <div class="profile">
        <h3>Shannon</h3>
        <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/p160x160/1897986_10156889480830112_7281068131995976560_n.jpg?oh=5171033a767967f1898cdbbed05861ad&oe=57E2EAB6&__gda__=1474688474_de899a7f661ceb0bbfe0f618aae73ebc" />

      </div>

      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Name" ng-model="userinfo.name">
        </label>
        <label class="item item-input">
          <textarea placeholder="Something goes here"></textarea>
        </label>
      </div>
      <button class="button button-block button-positive" ng-click="Logout()">LogOut</button>


  </ion-content>
</ion-view>
