.welcome-view {
  background-color: #668fcd; }
  .welcome-view .top-content {
    height: 66%; }
    .welcome-view .top-content .app-copy {
      text-align: center;
      padding-top: 13vh; }
    .welcome-view .top-content .app-logo {
      font-size: 60px;
      font-family: sans-serif;
      font-weight: 600;
      color: #FFFFFF;
      letter-spacing: 8px;
      text-transform: uppercase; }
    .welcome-view .top-content .app-tagline {
      font-size: 16px;
      margin-top: 0px;
      font-weight: 500;
      color: rgba(255, 255, 255, 0.95); }
  .welcome-view .bottom-content {
    height: 34%; }
    .welcome-view .bottom-content .facebook-sign-in {
      border-radius: 4px;
      font-weight: 500;
      color: #FFF;
      background-color: #294886;
      border-color: #27447e; }

#map {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}

.profile{
  text-align: center;
  background: #3a5fa7;
  height:250px;
  padding:10px;
}

.profile h3{
  color:#fff;
}

.profile img{

  margin:20px;
  border-radius:100px;
  /*border:1px solid #fff;*/

}
